body{
    background-image: url("theme.jpeg");
    background-repeat: repeat-y;
  
}

header {
    background-color: #79d071;
    opacity: 0.9;
    color: purple;
    padding: 5px; 
    text-align: center;
    font-family:cursive;
    font-size:30px;

}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(34, 149, 72);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;

}
body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }

.element {
    padding: 20px;
    border: 2px solid grey;
}


p img {
    position:relative;
    top: 25px;
    right: 25px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.element{
    background-color: rgb(187, 213, 221);
    width: 90%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    max-width: 100%;

}

p{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
h2{
    font-size: 50px;
    text-align: center;
}
.size{
    text-align: center;
    font-size: 100px;
    color: crimson;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
    position: float;
  }
  