body {
    max-inline-size: 88em;
    padding: var(--metric-box-spacing);
    margin: auto;
  }

  
  body{
    background-image: url("theme.jpeg");
    background-repeat: repeat-y;
    
}

header {
    background-color: #79d071;
    opacity: 0.9;
    color: purple;
    padding: 5px; 
    text-align: center;
    font-family:cursive;
    font-size:30px;

}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(34, 149, 72);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
section{
  background-color: lavenderblush;
  width: 90%;
  border: 15px solid rgb(175, 25, 180);
  padding: 50px;
  margin: 20px;
  max-width: 100%;
}
.footer{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
table{
  color:black;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  border-width:0.5cm;
  border-color: rgb(175, 25, 180);
}
.section{
  background-color:lavenderblush;
  width: 90%;
  border: 15px solid lavenderblush;
  padding: 50px;
  margin: 20px;
  max-width: 100%;
}
.section1{
  background-color:lavenderblush;
  width: 40%;
  border: 15px solid rgb(175, 25, 180);
  padding: 50px;
  margin: 20px;
  max-width: 100%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #AD133A;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
  position: float;
}

